* {
    margin:0;
    padding:0;
}

p, h1, h2, h3, h4, h5, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.container {
    height:auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 0.5fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr 1fr 1fr 2fr 0.6fr;
    grid-auto-flow: row;
    grid-template-areas:
      "Logo Logo Header Header Header Header Header"
      "Product Product Product Product Reason-1 Reason-1 Reason-1"
      "Product Product Product Product Reason-2 Reason-2 Reason-2"
      "Product Product Product Product Reason-3 Reason-3 Reason-3"
      "Call-to-Action Call-to-Action Call-to-Action Call-to-Action Call-to-Action Call-to-Action Call-to-Action"
      "Social-Media Social-Media Footer Footer Footer Footer Footer";
  }


  .Logo { 
      display: flex;
      grid-area: Logo; 
      align-items:center;
      justify-content: start;
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
   }

    #logo {
        padding-bottom:5px;
        margin-left:50px;
        margin-right:10px;
       
    }

    #logoText {
        font-family: 'Dancing Script', sans-serif;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        color:black;
    }

  .Header {
      grid-area: Header; 
      display:flex;
      justify-content: flex-end;
      align-items: center;
      background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(243, 243, 243) 100%);
    }

    .link {
        font-size:12px;
        width: auto;
        margin-right:90px;
        font-weight:400 !important;
        text-transform: uppercase;
        letter-spacing: 2px;
        color:black;
        text-decoration: none;
        padding-bottom:2px;
      }

    .link:hover {
        border-bottom: 2px solid #04859F;
        color:#04859F;
    }
  
  .Product {
      grid-area: Product; 
      background-image: linear-gradient(0deg, rgba(154, 166, 173, 0.1) 0%, rgba(255,255,255,1) 100%), url("https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      height:700px;
    }

    .cursive {
        font-family: 'Dancing Script', sans-serif;
        font-size:70px;
        color:darkslategray;
    }

    .heading {
        color:darkslategray;
        margin-top: 300px;
        font-weight:300;
        font-size: 30px;
    }

    .Reason {
        padding-top:55px;
        text-align: center;
        color:white;
        letter-spacing: 2px;

    }

    .Reason > h1 {
        font-family: 'Dancing Script', sans-serif;
        font-size: 50px;
        font-weight:700;
    }

    .tourButton {
        font-family:'Montserrat', sans-serif;
        font-size: 12px;
        font-weight:400;
        background-color:white;
        padding:10px;
        border: 2px solid white;
        border-radius: 25px;
        background:none;
        margin-top: 5px;
        color:white;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
  
  .Europe { 
      grid-area: Reason-1; 
      background-color:#FFFFFA;
      background-image: radial-gradient(circle, rgba(91, 109, 136, 0.3) 0%, rgba(110, 140, 158, 0.3) 100%), url("https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 35px 0 0 0;
    }
  
  .Asia {
      grid-area: Reason-2;
      background-color:#DDDEE3; 
      background-image: radial-gradient(circle, rgba(91, 109, 136, 0.3) 0%, rgba(110, 140, 158, 0.3) 100%), url("https://images.pexels.com/photos/1531660/pexels-photo-1531660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
  .Africa {
      grid-area: Reason-3; 
      background-color:#65697B;
      background-image: radial-gradient(circle, rgba(91, 109, 136, 0.3) 0%, rgba(110, 140, 158, 0.3) 100%), url("https://images.pexels.com/photos/3873663/pexels-photo-3873663.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
  .Footer {
      grid-area: Footer; 
      background-color:gainsboro;
    }
  
  .Call-to-Action { 
      grid-area: Call-to-Action;
      background-color: #04859F; 
    }
  
  .Social-Media { 
      grid-area: Social-Media;
      background-color: gray; 
    }
  